

.main-container{
    padding: 5% 4%;
    font-family: 'Frank Ruhl Libre', serif;
    background-color: white;

    
}

.inner-container{
    border: 1px solid whitesmoke ;
    padding: 5%;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    
}

.skill-container{
    margin-left: 5%;
    margin-top: 3rem;
}