body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Navigation */

#navigation{
    background-color: #646FD4 ;
}



#logo{
    text-decoration: none;
    padding-left: 6%;
    color: #646FD4;
    font-weight: bold;
    font-size: 23px;
    font-family: 'Staatliches', cursive;
    text-shadow: 1px 1px #9BA3EB;
    
}

#menu-link-1{
    color: #646FD4;
    font-family: 'Staatliches', cursive;
    font-size: 18px;
    padding: 3px 5px;
    margin: 4px;
}

#menu-link-1:hover{
    /* background-color:skyblue ; */
    border: 1px solid #646FD4;
    color: #646FD4;
    padding: 3px 5px;
    border-radius: 5px;
}


#menu-link-2{
    color: #646FD4 ;
    font-family: 'Staatliches', cursive;
    font-size: 18px;
    padding: 3px 5px;
    margin: 4px;

}

#menu-link-2:hover{
    /* background-color:skyblue ; */
    border: 1px solid #646FD4;
    color: #646FD4;
    padding: 3px 5px;
    border-radius: 5px;
}


#menu-link-3{
    color: #646FD4;
    font-family: 'Staatliches', cursive;
    font-size: 18px;
   
    padding: 3px 5px;
    margin: 4px;

}


#menu-link-3:hover{
    /* background-color:skyblue ; */
    border: 1px solid  #646FD4;
    color: #646FD4;
    padding: 3px 5px;
    border-radius: 5px;
}

.container {
    padding:2% 6%;
    text-align: center;
    font-family: 'Staatliches', cursive;
}
.inner-container{
    background-image: linear-gradient( 
        #646FD4, #9BA3EB);
    padding: 4% 3%;
    border-radius: 10px;
    margin: 1% 2%;
    box-shadow: 2px 2px 5px;
    font-family: 'Staatliches', cursive;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.image {
    width: 29%;
    height: 19%;
    border: 1px solid white;
    border-radius: 90%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.text {
    padding: 4% 10%;
    color: white;
    margin-bottom: 5px;
    /* font-size: 15px; */
    font-family: 'Tiro Gurmukhi', serif;

}

.button {
    text-decoration: none;
    border: 1px solid white;
    background-color: #9BA3EB;
    padding: 6px 20px;
    color: white;
    font-size: 23px;
    font-weight: bold;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    
}

.button:hover {
    color: whitesmoke;
    border-radius: 10px;
    transition: 1ms;
}

#portfolio {

    border-radius: 10px;
    margin-top: 6%;
    background-color: whitesmoke;
    font-family: 'Tiro Gurmukhi', serif;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    
   
   
}

.container {
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
    /* padding: 3% 8%; */
}

.title {
    margin-bottom: 4%;
    font-weight: bold;
    color: #9BA3EB;

}

#second-row {
    margin-top: 13%;
}

.title-container {
    margin-bottom: 4%;
}

.Copy-title {
    color: #9BA3EB;
}

.card {
    width: 98%;
    margin: 3px;

}

.card-text {
    text-decoration: none;
    color: black;
}

footer {
    margin-top: 7rem;
    text-align: center;
    color: white;
    border: 1px solid;
    background-color: #9BA3EB;
    padding-top: 8px;

}


@media screen and (max-width:800px) {


    .inner-container{
        margin-top: 8%;
        padding: 7% 2%;
    }
    .card{
        margin: 5px;
    }

    #portfolio{
        margin-top:15% ;
        
    }

    #logo{
        width:40%;
        height:35%;
    } 
    
}