body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Navigation */

#navigation{
    background-color: skyblue;
}



#logo{
    width: 15%;
    height:15%;
    padding-left: 5%;
}

#menu-link-1{
    color: skyblue;
    font-family: 'Tiro Gurmukhi', serif;
    font-size: 15px;
   
    padding: 3px 5px;
    margin: 4px;
}


#menu-link-1::after{
    
}

#menu-link-2{
    color: ;
    font-family: 'Tiro Gurmukhi', serif;
    font-size: 15px;
    
    padding: 3px 5px;
    margin: 4px;

}

#menu-link-3{
    color: skyblue;
    font-family: 'Tiro Gurmukhi', serif;
    font-size: 15px;
   
    padding: 3px 5px;
    margin: 4px;

}
.container {
    padding:5% 8%;
    text-align: center;
    font-family: 'Tiro Gurmukhi', serif;

}
.inner-container{
    background-color: skyblue;
    padding: 6% 1%;
    border-radius: 10px;
    margin: 2%;
    box-shadow: 2px 2px 5px;
    font-family: 'Tiro Gurmukhi', serif;
}

.image {
    width: 30%;
    height: 20%;
    border-radius: 50%;
    box-shadow: 1px 1px 4px;
}

.text {
    padding: 2% 10%;
    color: black;
    margin-bottom: 8px;
    /* font-size: 15px; */

}

.button {
    text-decoration: none;
    border: 1px solid white;
    background-color: skyblue;
    
    padding: 6px 20px;
    color: white;
    font-size: 23px;
    
}

.button:hover {
    color: whitesmoke;
    border-radius: 10px;
    transition: 1ms;
}

#portfolio {

    border-radius: 10px;
    margin-top: 6%;
    background-color: whitesmoke;
    font-family: 'Tiro Gurmukhi', serif;
   
   
}

.container {
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
    padding: 3% 8%;
}

.title {
    margin-bottom: 4%;
    font-weight: bold;
    color: skyblue;

}

#second-row {
    margin-top: 18%;
}

.title-container {
    margin-bottom: 4%;
}

.Copy-title {
    color: skyblue;
}

.card {
    width: 98%;
    margin: 3px;

}

.card-text {
    text-decoration: none;
    color: black;
}

footer {
    margin-top: 5%;


    text-align: center;

}


@media screen and (max-width:900px) {
    .card{
        margin: 8px;
    }

    #portfolio{
        margin-top:15% ;
    }

    #logo{
        width:40%;
        height:35%;
    } 
    
}