
body{
  box-sizing: border-box;
}

.container{
    padding: 9% 8%;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
    font-family: 'Frank Ruhl Libre', serif;;
}

.image{
    width: 30%;
    height: 30%;
    border-radius: 200px;
    box-shadow: 1px 1px 4px;
}

.text{
    padding: 2% 15%;
   
}

.button{
    text-decoration:none ;
    border: 1px solid skyblue;
    padding: 5px 15px;
    color: skyblue;
    font-size: 23px;
    /* box-shadow: 1px 2px 1px; */
}

.button:hover{
    color: white;
    background-color: skyblue;
    border-radius: 5px;
    transition: 1s;

}

#portfolio{
    background-color: white;
}

.container{
    text-align: center;
    margin-top: 5%;
    font-family: 'Frank Ruhl Libre', serif;;
}
.title{
    margin-bottom: 5%;
    font-weight: bold;
   
}

.card{
    width: 95%;
    margin: 3px;
    
}

footer{
    margin-top: 5%;


    text-align: center;
    
}