body {
    box-sizing: border-box;
    
    
}

.container {
    padding:5% 8%;
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
   
    

}
.inner-container{
    background-color: skyblue;
    padding: 6% 1%;
    border-radius: 10px;
    margin: 2%;
    box-shadow: 2px 2px 5px;
}

.image {
    width: 30%;
    height: 20%;
    border-radius: 50%;
    box-shadow: 1px 1px 4px;
}

.text {
    padding: 2% 10%;
    color: black;

}

.button {
    text-decoration: none;
    border: 1px solid black;
    background-color: skyblue;
    border-radius: 5px;
    padding: 6px 20px;
    color: black;
    font-size: 23px;
    box-shadow: 1px 1px 3px;
}

.button:hover {
    color: white;
    border-radius: 10px;
    transition: 1ms;
}

#portfolio {

    border-radius: 10px;
    margin-top: 6%;
    background-color: whitesmoke;
   
}

.container {
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
    ;
    padding: 3% 8%;
}

.title {
    margin-bottom: 4%;
    font-weight: bold;
    color: skyblue;

}

#second-row {
    margin-top: 18%;
}

.title-container {
    margin-bottom: 4%;
}

.Copy-title {
    color: skyblue;
}

.card {
    width: 98%;
    margin: 3px;

}

.card-text {
    text-decoration: none;
    color: black;
}

footer {
    margin-top: 5%;


    text-align: center;

}


@media screen and (max-width:900px) {
    .card{
        margin: 9px;
    }

    #portfolio{
        margin-top:15% ;
    }
    
}