body {
    box-sizing: border-box;
}

.container {
    padding: 4% 8%;
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;

}
.inner-container{
    background-color: whitesmoke;
    padding: 9%;
    border-radius: 10px;
    margin: 4%;
}

.image {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    box-shadow: 1px 1px 4px;
}

.text {
    padding: 2% 15%;
}

.button {
    text-decoration: none;
    border: 1px solid;
    background-color: skyblue;
    border-radius: 23px;
    padding: 6px 20px;
    color: white;
    font-size: 23px;
    box-shadow: 1px 1px 3px;
}

.button:hover {
    color: white;
    background-color: skyblue;
    border-radius: 5px;
    transition: 1s;

}

#portfolio {

    border-radius: 10px;
    margin-top: 6%;
   
}

.container {
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
    ;
    padding: 3% 8%;
}

.title {
    margin-bottom: 4%;
    font-weight: bold;
    color: skyblue;

}

#second-row {
    margin-top: 10%;
}

.title-container {
    margin-bottom: 4%;
}

.Copy-title {
    color: skyblue;
}

.card {
    width: 98%;
    margin: 3px;

}

.card-text {
    text-decoration: none;
}

footer {
    margin-top: 5%;


    text-align: center;

}